
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Playwrite+AU+SA:wght@100..400&display=swap');
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

@import "tailwindcss";


*{
    font-family: "Outfit", sans-serif;
}

@theme {
   --color-primary: #4f46e5;
   --color-primary-dull : #4f46e5;
}
body::-webkit-scrollbar {
    display: none;
  }

@layer base {
    html {
      scroll-behavior: smooth;
    }
  }
  
.no-scrollbar::-webkit-scrollbar{
  display: none;
}


html, body {
  width: 100%;
  height: 100%;
}
.logo{
  font-family: "Grechen Fuemen", cursive;
  
}
.background-clr{
    background: linear-gradient(to right, #187CFA, #D210B0, #604AE9);
}
.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(to right, #187CFA, #D210B0, #604AE9);
  padding: 6px;
  box-sizing: border-box;
  animation: spin 1s linear infinite;
}
.loaderId {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: linear-gradient(to right, #187CFA, #D210B0, #604AE9);
  padding: 4.5px;
  box-sizing: border-box;
  animation: spin 1s linear infinite;
}

.loader::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: white; 
  border-radius: 50%;
}
.loaderId::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: white; 
  border-radius: 50%;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}



